/*==================RESPONSIVIDADE=============================*/

@media screen and (min-width: 1500px) {
	.link {
		font-size: 2.5rem!important;
	}

	.titulos {
		margin-top: 9rem;
	}

	.pai_cards {
		display: flex;
		justify-content: space-around;
	}

	#card {
		min-width: 35rem;
		margin-top: 10em;
	}

	.imagem {
		width: 45rem;
	}

	p {
		font-size: 2rem!important;
	}

	.video-border {
		width: 100rem;
		height: 50rem;
	}

	.img-carrossel {
		height: 50vh;
	}

	.title_tipo {
		font-size: 4rem;
	}

	.li_tipos {
		font-size: 3rem!important;
	}

	#p {
		font-size: 2rem!important;
	}

	.logo_tipos {
		width: 6rem;
	}
	.logo_saude {
		width: 6rem;
	}

	.geral_nav {
		margin-top: 2rem;
	}
}

@media screen and (min-width: 1000px) {

	#imagem-fundo {
		width: 100%;
		height: 100vh;
		background: url('https://st.depositphotos.com/1907633/2380/i/600/depositphotos_23805107-stock-photo-medicine-doctor-working-with-modern.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	.link {
		font-size: 20px;
	}

	.pai_cards {
		display: flex;
		justify-content: space-around;
	}

	#card {
		width: 20rem!important;
	}

	aside {
		visibility: hidden;
	}

	* {
		font-family: "Pacifico", cursive;
	}
}

@media screen and (min-width: 700px) {

	#imagem-fundo {
		height: 110vh;
	}

	.nav_mobile {
		display: inline;
		background: none;
		position: absolute;
		top: 0;
		left: 0;
		width: auto;
	}

	.ul_menu_mobile {
		list-style: none;
		position: relative;
		top: 0;
		display: inline;
	}

	.a_mobile {
		text-decoration:  none;
		color: white;
		font-weight: bold;
		display: inline;
		padding: 1rem;
		margin-left: 6rem;
	}

	#img_burgue {
		display: none;
	}

	.pai_cards {
		display: flex;
		justify-content: space-around;
	}

	#card {
		width: 15rem;
	}
}


@media screen and (max-width: 700px) {
	#img_burgue {
		width: 3rem;
		border-radius: 50%;
		display: flex;
		justify-content: flex-end;
		margin: -8px -30px 20px 220px;
	}

	#imagem-fundo {
		background: #a8d4ff;
		display: flex;
		align-items: center;
		flex-direction: column;
		height: auto;
	}

	#nav {
		background: transparent!important;
	}

	.logo_saude {
		width: 3rem;
	}

	#card {
		width: 20rem;
		margin: 70px 0px 0px 0px;
		display: flex;
	}

	.imagem {
		width: 24rem;
	}

	.titulos {
		background: none;
	}
	
	.title {
		color: black;
	}
}