body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
}

a {
    text-decoration: none;
    color: black;
    font-size: 'sans-serif';
    padding: 1rem;
}

li a:hover {
    background: silver;
}

.logo {
    font-size:  1.5rem;
    font-weight: bold;
}

.header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem;
    justify-content: space-between;
    background: darkgray;
}

.menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

.btn-mobile {
    display: none;
}

h1 {
    text-align: center;
}

p {
    font-size: 15px;
    line-height: 160%;
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.img-logo {
    width: 4rem;
    border-radius: 50%;
}

.btn-mobile {
    border-radius: 50%;
    width: 2rem;
}

.max {
    max-width: 1000px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 5rem;
    background: darkgray;
    background-blend-mode: darken; 
}

.p_relax {
    padding-bottom: 5rem;
}

@media screen and (min-width: 1500px) { 
    .p_relax , p, .hom {
        font-size: 1.7rem;
        line-height: 160%;
    }   
}

@media screen and (max-width: 600px) {
    
    * {
        font-family: 'sans-serif';    
    }

    .btn-mobile {
        display: flex;
    }

    .menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;   
        background: darkgray;
        height: calc( 100vh -70px);
        z-index: 20;
    }   

    li {
        padding-block: 1rem;
    }


    .nav_relacao.ativar .menu {
        display: block;
    }

    .nav_relacao.ativar  main {
        margin-top: 6rem; 
        transition: 1s; 
    }

    .menu li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_img {
        width: 20rem;
    }

    .p_relax {
        font-size: 1.5rem;
    }
}