@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Lobster&family=Montserrat&family=Raleway:ital@1&family=Roboto:ital,wght@0,300;1,100&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.cor_link {
	font-size: 25px!important;
}

.cor_link:hover {
	background: rgba(0 ,0, 0, .4);
	transition: 500ms;
}

.logo_tipos {
	border-radius: 50%;
	width: 4rem;
	background: transparent!important;
}

.logo_tipos:hover {
	width: 4.5rem;
	transition: ease-in-out 250ms all;
}

.burguer {
	color: white;
	margin-right: 15px;
	margin-bottom: -.5rem;
}

.nav_espacamento {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.around {
	padding: 1rem;
}

.color {
	background-color: #0d5b80;
}

.cor_link {
	font-size: 20px;
	font-family: 'Pacifico';
	text-decoration: none; 
	color: white!important;
}

.fundo {
	background: transparent!important;
}

.menu_mobile {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/*====main=======*/

.title_tipo {
	padding-block: 1rem;
	text-align: center;
}


.img-carrossel {
	width: 100%;
	object-fit: cover;
	height: 400px;
}

.cards {
	border: solid darkgrey 1px;
	border-radius: 10px;
}

#p {
	text-align: center;
	line-height: 150%;
	font-size: 20px;
}

#borda-especial {
	border: solid 3px darkgray;
	border-radius: 5px;
}

#borda-especial:hover {
	border-color: #0d5b80;
	animation: animation-hover 500ms forwards; 
}

.bov-natal {
	display: flex;
	justify-content: center;
	padding-block: 2rem;
}

footer {
	padding-block:  10rem;
	background: silver;
	display: flex;
	justify-content: center;
	margin-top: 9rem;
}

#gap {
	gap: 5rem;
}

@keyframes animation-hover {
	from{
		transform: translateY(0);
		}to{
			transform: translateY(-1vh);
		}
	}
}	